.places {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places > h1 {
    width: 100%;
    font-size: 30px;
    margin-bottom: 12px;
}

.places article {
    width: 420px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    position: relative;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    overflow-wrap: break-word;
    inline-size: 220px;
    /* position: absolute;
    right: 0;
    left: 0; */
}
